// add some space between the search form and button
// make the search box which has .search-bar class to  take up all the space it can

// make the search button a little bigger

.search-bar {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.search-box {
  padding: 1.6rem 2.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
}

.search-button {
  padding: 1.6rem 3.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
}
